<h2>Login</h2>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
  
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
  :html => { class: 'form-horizontal' }) do |f| %>
  
  <div class="form-group">
    <%= f.label :email, :class => 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'col-md-4 control-label' %>
    <div class="col-md-5">
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
  </div>
  
  <% if devise_mapping.rememberable? -%>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-5">
      <div class="checkbox">
        <label>
          <%= f.check_box :remember_me %> Remember me
        </label>
      </div>
    </div>
  </div>
  <% end -%>
  
  <div class="actions text-right">
    <div class="col-md-offset-4 col-md-5">
      <input type="submit" value="Login" class="btn btn-default btn-sm btn-success fi-btn-wide">
    </div>
    <div class="col-md-offset-4 col-md-5">
      <p class="form-control-static">
        <a href="/password/new">Need a new password?</a>
      </p>
    </div>
  </div>
  
<% end %>
  </div>
</div>
