<h1>Listing api_forms</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_forms.each do |api_form| %>
      <tr>
        <td><%= api_form.account_id %></td>
        <td><%= api_form.name %></td>
        <td><%= link_to 'Show', api_form %></td>
        <td><%= link_to 'Edit', edit_api_form_path(api_form) %></td>
        <td><%= link_to 'Destroy', api_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_api_form_path %>
