<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @api_form.account_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api_form.name %>
</p>

<%= link_to 'Edit', edit_api_form_path(@api_form) %> |
<%= link_to 'Back', api_forms_path %>
