<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FidoBakku</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
<% if lookup_context.template_exists?('home/meta', [], true) %>
  <%= render partial: 'home/meta' %>
<% end %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <%= render 'menu' %>
    </div>
  </div>

  <div class="container">
    <%= render partial: 'notifications' %>
    <%= yield %>
  </div>
  
<% if lookup_context.template_exists?('home/footer', [], true) %>
  <%= render partial: 'home/footer' %>
<% end %>
  <%= javascript_include_tag 'application' %>
<% if lookup_context.template_exists?('home/analytics', [], true) %>
  <%= render partial: 'home/analytics' %>
<% end %>
</body>
</html>